body {
    background-color: #79C2F6;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #4FAEF3;
    box-shadow: 3px -20px 0 20px #4FAEF3;
    color: black;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

#marker {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    text-align: center;
}

#playerChoice, #cpuChoice {
    grid-row: 2;
    height: 10em;
    width: 10em;
    margin: 10px;
    border-radius: 15px;
    background-color: #4FAEF3;
}

.choice {
    background-color: #2d9ff0;
    border-radius: 8px;
    margin: 7px;
    height: 3em;
    width: 3em;
    text-align: center;
}

.choice:hover {
    cursor: pointer;
    height: 4em;
    width: 4em;
}

#points {
    display: flex;
    justify-content: space-evenly;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#log {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
}

footer {
    background-color: #4FAEF3;
    box-shadow: 20px 0px 0 20px #4FAEF3;
    color: black;
    text-align: center;
}