body {
    background-color: #79C2F6;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #4FAEF3;
    box-shadow: 3px -20px 0 20px #4FAEF3;
    color: black;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

#marker {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    text-align: center;
}

#playerChoice, #cpuChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3;
    height: 200px;
    width: 200px;
    margin: 10px;
    border-radius: 15px;
    background-color: #4FAEF3;
    font-size: 120px;
}

.choice {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d9ff0;
    border-radius: 8px;
    margin: 7px;
    height: 50px;
    width: 50px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 30px;
}

.choice:hover {
    cursor: pointer;
    height: 60px;
    width: 60px;
    font-size: 35px;
}

#points {
    display: flex;
    justify-content: space-evenly;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#log {
    grid-row: 2;
    grid-column: 1 / span 2;
}

footer {
    background-color: #4FAEF3;
    box-shadow: 20px 0px 0 20px #4FAEF3;
    color: black;
    text-align: center;
}