body {
    background-color: #79C2F6;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #4FAEF3;
    box-shadow: 3px -20px 0 20px #4FAEF3;
    color: black;
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
}

#points {
    display: flex;
    justify-content: space-evenly;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#log {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
}

footer {
    background-color: #4FAEF3;
    box-shadow: 20px 0px 0 20px #4FAEF3;
    color: black;
    text-align: center;
}